{% extends "bootstrap/base.html" %}
{% block title %}Graphics{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('.static', filename='tables.js') }}"></script>
<script src="{{ url_for('.static', filename='bar.js') }}"></script>
<script src="{{ url_for('.static', filename='graphic.js') }}"></script>
<script src="{{ url_for('.static', filename='alert.js') }}"></script>
<script src="{{ url_for('.static', filename='camera.js') }}"></script>

{% endblock %}


{% block content %}
{% include 'navbar.html' %}


<h1 class="text-center">Identificar objeto</h1>
<div class="text-center">
      <img src="{{ url_for('static', filename='images/logo.jpeg')}}" alt="Platzi Logo"class="card-img-top" alt="...">
        <button class="btn btn-success">Abrir camara</button>
        <button class="btn btn-danger" id="add"  onclick="agregarFila()">Play</button>
        <button class="btn btn-danger" onclick="agregarFilaCajas()">Next</button>
        <h1 class="text-center">Identificar objeto</h1>
        <video src="" id="video" autoplay="true"></video>
    </div>

  <div>
  
    <table border="1" class="table table-striped" id="tablaprueba">
      <thead>
        <tr>
          <th>ID</th>
          <th>Residuo</th>
          <th>Piezas</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
{% include 'footer.html' %}
{% endblock %}
