{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}

{% block styles %}

{{super()}}
 <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">

 {% endblock %}

{%  block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      <h5 class="h1">Bienvenido</h3>
    </div>
    <div class="card-body">
      <h3 class="card-title"></h5>
      <img src="{{ url_for('static', filename='images/logo.jpeg')}}" alt="Platzi Logo"class="card-img-top" alt="...">

      <p class="card-text text-center h4">
          Internet està basado en datos e IA por lo que el uso de las herramientas 
          las cuales llevan a cabo dichos procesos son de gran importancia.

          Para impulsar no solo la inovación si no tambièn el conocimiento por el aprendizaje continuo
          te dejamos algunas de las herramientas usadas para el desarrollo del proyecto.
      </p>
      <li>Raspbrerry Pi3</li>
      <li>Python / Open CV / Flask</li>
      <li>HTML / CSS / JAVASCRIPT</li>
      <li>MYSQL</li>
      
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock %}